Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "GET,POST"

RewriteEngine on

# VERSION 2
# =========
RewriteRule ^webservice/v2/(.*)/url/(.*)$ /?action=urlv2&format=$1&stationid=$2

# VERSION 1
# =========
# http://site/webservice/<type>/countries
RewriteRule ^webservice/(.*)/countries/(.*)$ /?term=$2&format=$1&action=countries
RewriteRule ^webservice/(.*)/countries$ /?format=$1&action=countries

# http://site/webservice/<type>/codecs
RewriteRule ^webservice/(.*)/codecs/(.*)$ /?term=$2&format=$1&action=codecs
RewriteRule ^webservice/(.*)/codecs$ /?format=$1&action=codecs

# http://site/webservice/<type>/countries
RewriteRule ^webservice/(.*)/states/(.*)/(.*)$ /?term=$3&country=$2&format=$1&action=states
RewriteRule ^webservice/(.*)/states/(.*)$ /?term=$2&format=$1&action=states
RewriteRule ^webservice/(.*)/states$ /?format=$1&action=states

# http://site/webservice/<type>/languages
RewriteRule ^webservice/(.*)/languages/(.*)$ /?term=$2&format=$1&action=languages
RewriteRule ^webservice/(.*)/languages$ /?format=$1&action=languages

# http://site/webservice/<type>/tags
RewriteRule ^webservice/(.*)/tags/(.*)$ /?format=$1&action=tags&term=$2
RewriteRule ^webservice/(.*)/tags$ /?format=$1&action=tags

RewriteRule ^webservice$ /docs.html
RewriteRule ^webservice/$ /docs.html

RewriteRule ^webservice/(.*)/add$ /?format=$1&action=add
RewriteRule ^webservice/(.*)/edit/(.*)$ /?format=$1&action=edit&stationid=$2
RewriteRule ^webservice/(.*)/delete/(.*)$ /?format=$1&action=delete&stationid=$2
RewriteRule ^webservice/(.*)/undelete/(.*)$ /?format=$1&action=undelete&stationid=$2
RewriteRule ^webservice/(.*)/revert/(.*)/(.*)$ /?format=$1&action=revert&stationid=$2&stationchangeid=$3

# http://site/webservice/<type>/stations
RewriteRule ^webservice/(.*)/stations/topvote/(.*)$ /?format=$1&limit=$2&action=data_search_topvote
RewriteRule ^webservice/(.*)/stations/topvote$ /?format=$1&action=data_search_topvote
RewriteRule ^webservice/(.*)/stations/topclick/(.*)$ /?format=$1&limit=$2&action=data_search_topclick
RewriteRule ^webservice/(.*)/stations/topclick$ /?format=$1&action=data_search_topclick
RewriteRule ^webservice/(.*)/stations/lastclick/(.*)$ /?format=$1&limit=$2&action=data_search_lastclick
RewriteRule ^webservice/(.*)/stations/lastclick$ /?format=$1&action=data_search_lastclick
RewriteRule ^webservice/(.*)/stations/lastchange/(.*)$ /?format=$1&limit=$2&action=data_search_lastchange
RewriteRule ^webservice/(.*)/stations/lastchange$ /?format=$1&action=data_search_lastchange
RewriteRule ^webservice/(.*)/stations/broken/(.*)$ /?format=$1&limit=$2&action=data_search_broken
RewriteRule ^webservice/(.*)/stations/broken$ /?format=$1&action=data_search_broken
RewriteRule ^webservice/(.*)/stations/improvable/(.*)$ /?format=$1&limit=$2&action=data_search_improvable
RewriteRule ^webservice/(.*)/stations/improvable$ /?format=$1&action=data_search_improvable
RewriteRule ^webservice/(.*)/stations/deleted/(.*)$ /?format=$1&stationid=$2&action=data_search_deleted
RewriteRule ^webservice/(.*)/stations/deleted$ /?format=$1&action=data_search_deleted_all
RewriteRule ^webservice/(.*)/stations/changed/(.*)$ /?format=$1&stationid=$2&action=data_search_changed [B,L,QSA]
RewriteRule ^webservice/(.*)/stations/changed$ /?format=$1&action=data_search_changed_all [B,L,QSA]

RewriteRule ^webservice/(.*)/stations/search$ /?format=$1&action=data_search_advanced [B,L,QSA]
RewriteRule ^webservice/(.*)/stations/byurl$ /?format=$1&action=data_search_byurl [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/byid/(.*)$ /?format=$1&term=$2&action=data_search_byid [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/byname/(.*)$ /?format=$1&term=$2&action=data_search_name [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bynameexact/(.*)$ /?format=$1&term=$2&action=data_search_name_exact [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bycodec/(.*)$ /?format=$1&term=$2&action=data_search_bycodec [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bycodecexact/(.*)$ /?format=$1&term=$2&action=data_search_bycodec_exact [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bycountry/(.*)$ /?format=$1&term=$2&action=data_search_bycountry [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bycountryexact/(.*)$ /?format=$1&term=$2&action=data_search_bycountry_exact [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bystate/(.*)$ /?format=$1&term=$2&action=data_search_bystate [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bystateexact/(.*)$ /?format=$1&term=$2&action=data_search_bystate_exact [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bylanguage/(.*)$ /?format=$1&term=$2&action=data_search_bylanguage [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bylanguageexact/(.*)$ /?format=$1&term=$2&action=data_search_bylanguage_exact [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bytag/(.*)$ /?format=$1&term=$2&action=data_search_bytag [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/bytagexact/(.*)$ /?format=$1&term=$2&action=data_search_bytag_exact [B,L,QSD]
RewriteRule ^webservice/(.*)/stations/(.*)$ /?format=$1&term=$2&action=data_search_name [B,L,QSD]
RewriteRule ^webservice/(.*)/stations$ /?format=$1&action=data_stations_all [B,L,QSD]

# station checks
RewriteRule ^webservice/(.*)/checks/(.*)$ /?format=$1&stationuuid=$2&action=data_checks [B,L,QSA]
RewriteRule ^webservice/(.*)/checks$ /?format=$1&action=data_checks_all [B,L,QSA]

# compatibility with old rhytmbox-radio-browser
RewriteRule ^xml.php$ /?format=xml&action=data_stations_all
RewriteRule ^topclick.php$ /?format=xml&action=data_search_topclick

# http://site/webservice/<type>/stats
RewriteRule ^webservice/(.*)/stats$ /?format=$1&action=stats

# http://site/webservice/<type>/url/<stationid>
RewriteRule ^webservice/(.*)/url/(.*)$ /get_station_url.php?format=$1&stationid=$2
# http://site/webservice/<type>/url/<stationid>
RewriteRule ^webservice/(.*)/vote/(.*)$ /?stationid=$2&action=vote&format=$1

RewriteRule ^webservice/(.*)/extract_images$ /?action=extract_images&format=$1
