/*
    #558C89 dark
    #74AFAD light
    #D9853B orange
    #ECECEA grey
j*/

body {
  background-color: #ede7df;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;

}
.syntax {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: rgb(148, 148, 148);
}
a:hover {
  text-decoration: underline;
  color: rgb(148, 148, 148);
}

#format, #searchTerm{
  font-style: italic;
  font-weight: bold;
  color: rgb(223, 223, 223);
}
